<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DogLog Gallery</title>
    <!-- TODO Add stylesheet -->
  </head>
  <body>
    <%- include('partials/navbar')%> <% dogs.forEach(dog => { %>
    <div>
      <div>
        <img src="/images/<%= dog.image %>" alt="dog image" />
        <div></div>
        <h5><%= dog.name %></h5>
        <p>
          Age: <%= dog.age %> <br />
          Favorite Food: <%= dog.favoriteFood %> <br />
          Fun Fact: <%= dog.funFact %> <br />
        </p>
      </div>

      <div>
        <a href="/edit/<%= dog._id%>">Edit</a>
        <form action="/delete/<%= dog._id%>" method="POST">
          <button type="submit">Delete</button>
        </form>
      </div>
    </div>
    <% }) %>
  </body>
</html>
